.stickyHeaderList
{
	background-color : white; 
	flex : 1;
	overflow-y : scroll;
	padding-top : 0.2em;
}

.header{
	background-color: #9b80ff;
	border-bottom: 1px solid white;
	margin-bottom: 0.2em;
	margin-top: 0.2em;
	height: 2.3em;
	line-height: 2.3em;
	font-size: 1.05em;
	font-weight: 460;
	padding-left: 0.8em;
	color: white;
}

.header.no-margin-top{
	margin-top : 0;
}

.sticky {
  position: fixed;
  top: 0;
}

.contactInfoCard{
	display: flex;
	cursor: pointer;
}

.contactProfilePic{

	background-color : #dfe5e7;
	height : 2.5em;
	width : 2.5em;
	margin : 0.5em 0 0.5em 0.8em; 
	align-self : flex-start;
	cursor : pointer;
	flex : 0 0 auto;
	flex-direction : column;
	overflow : hidden;
	position : relative;
		
}

.contactDetailContainer{
	margin-left: 1em;
	flex: 1;
	align-items: center;
	display: flex;
}

.contactDetailContainer.divider
{
	border-bottom: 1px solid lightgrey;
}

.contactDisplayIdentifier{
	font-size: 1em;
}