.profileDrawer{
}

.pdContainer{
	width : auto; 
	background-color : #f7f7f7; 
	display: flex; 
	flex : 1; 
	flex-direction : column; 
	overflow-y : auto;
}

.picAndMenuContainer{
	position : relative;	 
	width : fit-content; 
	height : fit-content; 
	align-self : center; 
	margin : 2em 0em;
}

.username{
	font-size : '1em'; 
	font-weight : '380';
	color : 'black';
	height : '1.5em';
	line-height : '1.5em';
	flex : '1';
}

input[type="text"].usernameInput
{
	font-size : 1em; 
	font-weight : 380;
	color : black;
	height : 1.5em;
	line-height : 1.5em;
	flex : 1;
	min-width : 0;
	border: 0;
	outline: 0;
	background: transparent;
   	border-bottom: 0.13em solid #754fff;
    border-radius: 0;
    margin-right: 0.2em;
}

input[type=text].usernameInput:focus {
	border-bottom: 0.13em solid #754fff;
}