input[type="text"].contactnameInput
{
	font-size : 1em; 
	font-weight : 380;
	color : black;
	height : 1.5em;
	line-height : 1.5em;
	flex : 1;
	min-width : 0;
	border: 0;
	outline: 0;
	background: transparent;
   	border-bottom: 0.13em solid #754fff;
    border-radius: 0;
    margin-right: 0.2em;
}

input[type=text].contactnameInput:focus {
	border-bottom: 0.13em solid #754fff;
}