.menuItem
{
	padding: 0.5em 1em;
	display: inline-flex;
	align-items: center;
	flex: 1;
	cursor: pointer;
	position: relative;
}

.menuItem:hover {
  background-color: #e6e6e6;
}

.icon
{
	width: 1.5rem;
	height: auto;
	fill: red;
}

.text
{
	font-size: 1.1rem;
	line-height: 1.3rem;
	margin-left: 0.5em;
	color: #4a4a4a;
}