.menu {
	display: flex;
	background-color: white;
	position: absolute;
	z-index: 1;
	overflow: hidden;
	transform-origin: top right;
	flex-direction: column;
	transform: scale(0);
	opacity: 0;
	transition: transform 0.2s, opacity 0.2s;
}

.menu.right{
	right: 0.5em;
}

.menu.top{
	top: 90%;
}

.menu.bottom{
	bottom: 90%;
}

.menu.left{
	left: 0.5em;
}

.menu.center{
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	transform-origin: center;
}

/*.menu.center{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transform-origin: center;
}*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px; /* 5px rounded corners */
}

.container {
	padding: 0.5em 0;
}

.open {
	transform: scale(1);
	opacity: 1;
}

