.App {
  display: flex;
  height: 100vh;
  background-color: black;
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  min-width: 300px;
  min-height: 225px;
}

.clipped
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex : 1 1 auto;
	max-width : 100%;
	min-width : 1px;
}
