.App {
  display: flex;
  height: 100vh;
  background-color: black;
}

.clipped
{
	white-space: 'nowrap';
	overflow: 'hidden';
	text-overflow: 'ellipsis';
	flex : '1 1 auto';
	max-width : '100%';
	min-width : '1px';
}
