.chatSearch{
	display : flex; 
	padding : 0.6em 0.75em; 
	flex : 0 0 auto; 
	height : 3.7em;
}

input[type = 'text'].searchBar{
	flex : 1 1 auto; 
	min-width : 100%; 
	outline : none;
	font-size : 1em; 
	line-height : 1.4em;
}